<% cache grade do %>
  <grade>
    <div class="person"><%= grade.person.first_name %></div>
    <div class="assignment"><%= grade.assignment.title %></div>
    <div class="value"><%= grade.value %></div>
  </grade>
<% end %>
