<% cache person do %>
  <person>
    <div class="first_name"><%= person.first_name %></div>
    <div class="last_name"><%= person.last_name %></div>
    <div class="email"><%= person.email %></div>
    <div class="is_professor"><%= person.is_professor %></div>
  </person>
<% end %>
